* { 
  margin:0;
  padding:0;
}

html {
  background-color:#78A1BB;
  margin:0;
  padding:0;
}

body {
  margin: 0 20%;
  padding:1em 2em;
  background-color: #EBF5EE;
  color:#283044;
  font-family:tahoma;
}

h1 {
  margin:0 0 0.1em 0;
  text-align:center;
}

h2 {
  margin:0 0 1em 0;
  text-align:center;
}

p {
  margin: 0 0 1em 0;
  font-size:0.9em;
  text-align:justify;
}
